<!DOCTYPE html>
<html>
   <head>
      <title>Final Project!</title>
   </head>
   <form action="/results_fat" method="post">
      
        First name:
         <input type="text" name="firstname">
         <br>
         Last name: 
         <input type="text" name="lastname">
         <br><br>
         <input type="submit" value="submit">
     
  </form>
</html>