<!DOCTYPE html>
<html>
  <head>
    <title> Flow Fitness </title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
  <div class ="flow">
    <h1>Flow Fitness</h1> 
    <img class="run" src="http://cliparts.co/cliparts/rcn/rGq/rcnrGqEMi.svg" height="380px">
    <a href = "/information">CLICK HERE TO BEGIN</a>
    <img class="logo" src="http://images.clipartpanda.com/workout-clipart-powerlifter.svg">
    </div>
  </body>
</html>