<!DOCTYPE html>
<html>
<form action="/exercise" method="post">
  Age:
  <input type="text" name="age">
  <br>
  Female:
  <input type="radio" name="gender" value="female">
  Male:
  <input type="radio" name="gender" value="male">
  <br><br>
  Burn Fat:
  <input type="radio" name="type" value="fat">
  Gain Muscle:
  <input type="radio" name="type" value="muscle">
  <br><br>
  <button type="submit" id="submit">Submit</button>
</form>
</html>